*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    padding: 2% 2%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: seagreen;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.intro{
    margin-top: 20%;

}
.intro h1{
    font-size: 60px;
    margin-top: 20px;
}
.intro h1 span{
    color: crimson;
}

#about{
    padding: 80px 0;
    color: gray;
}

#row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-1{
    flex-basis: 35%;
}

.col-1 img{
    width: 100%;
    border-radius: 15px;
}

.col-2{
    flex-basis: 60%;
}

.col-2 p span{
    color:aqua;
}

.cont{
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.titles{
    display: flex;
    margin: 20px 0px 40px;
}

.lin{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.lin::after{
    content: '';
    width: 0;
    height: 3px;
    background: seagreen;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.lin.current::after{
    width: 50%;
}

.tabcont ul li{
    list-style: none;
    margin: 10px 0;

}
.tabcont ul li span{
    color: crimson;
}

.tabcont{
    display: none;
}

.tabcont.current{
    display: block;
}